<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aigccafe.buterin.repository.mapper.CvtModelVersionImagePOMapper">
  <resultMap id="BaseResultMap" type="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="model_id" jdbcType="BIGINT" property="modelId" />
    <result column="model_version_id" jdbcType="BIGINT" property="modelVersionId" />
    <result column="post_id" jdbcType="BIGINT" property="postId" />
    <result column="image_id" jdbcType="BIGINT" property="imageId" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="nsfw" jdbcType="INTEGER" property="nsfw" />
    <result column="width" jdbcType="INTEGER" property="width" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="mimeType" jdbcType="VARCHAR" property="mimetype" />
    <result column="created_at" jdbcType="BIGINT" property="createdAt" />
    <result column="updated_at" jdbcType="BIGINT" property="updatedAt" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOWithBLOBs">
    <result column="meta" jdbcType="LONGVARCHAR" property="meta" />
    <result column="user_info" jdbcType="LONGVARCHAR" property="userInfo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, model_id, model_version_id, post_id, image_id, url, nsfw, width, height, mimeType, 
    created_at, updated_at, is_deleted
  </sql>
  <sql id="Blob_Column_List">
    meta, user_info
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cvt_model_version_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cvt_model_version_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cvt_model_version_image
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from cvt_model_version_image
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOExample">
    delete from cvt_model_version_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOWithBLOBs" useGeneratedKeys="true">
    insert into cvt_model_version_image (model_id, model_version_id, post_id, 
      image_id, url, nsfw, 
      width, height, mimeType, 
      created_at, updated_at, is_deleted, 
      meta, user_info)
    values (#{modelId,jdbcType=BIGINT}, #{modelVersionId,jdbcType=BIGINT}, #{postId,jdbcType=BIGINT}, 
      #{imageId,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{nsfw,jdbcType=INTEGER}, 
      #{width,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{mimetype,jdbcType=VARCHAR}, 
      #{createdAt,jdbcType=BIGINT}, #{updatedAt,jdbcType=BIGINT}, #{isDeleted,jdbcType=INTEGER}, 
      #{meta,jdbcType=LONGVARCHAR}, #{userInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOWithBLOBs" useGeneratedKeys="true">
    insert into cvt_model_version_image
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="modelId != null">
        model_id,
      </if>
      <if test="modelVersionId != null">
        model_version_id,
      </if>
      <if test="postId != null">
        post_id,
      </if>
      <if test="imageId != null">
        image_id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="nsfw != null">
        nsfw,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="mimetype != null">
        mimeType,
      </if>
      <if test="createdAt != null">
        created_at,
      </if>
      <if test="updatedAt != null">
        updated_at,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="meta != null">
        meta,
      </if>
      <if test="userInfo != null">
        user_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="modelId != null">
        #{modelId,jdbcType=BIGINT},
      </if>
      <if test="modelVersionId != null">
        #{modelVersionId,jdbcType=BIGINT},
      </if>
      <if test="postId != null">
        #{postId,jdbcType=BIGINT},
      </if>
      <if test="imageId != null">
        #{imageId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="nsfw != null">
        #{nsfw,jdbcType=INTEGER},
      </if>
      <if test="width != null">
        #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="mimetype != null">
        #{mimetype,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="meta != null">
        #{meta,jdbcType=LONGVARCHAR},
      </if>
      <if test="userInfo != null">
        #{userInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOExample" resultType="java.lang.Long">
    select count(*) from cvt_model_version_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cvt_model_version_image
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.modelId != null">
        model_id = #{record.modelId,jdbcType=BIGINT},
      </if>
      <if test="record.modelVersionId != null">
        model_version_id = #{record.modelVersionId,jdbcType=BIGINT},
      </if>
      <if test="record.postId != null">
        post_id = #{record.postId,jdbcType=BIGINT},
      </if>
      <if test="record.imageId != null">
        image_id = #{record.imageId,jdbcType=BIGINT},
      </if>
      <if test="record.url != null">
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.nsfw != null">
        nsfw = #{record.nsfw,jdbcType=INTEGER},
      </if>
      <if test="record.width != null">
        width = #{record.width,jdbcType=INTEGER},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.mimetype != null">
        mimeType = #{record.mimetype,jdbcType=VARCHAR},
      </if>
      <if test="record.createdAt != null">
        created_at = #{record.createdAt,jdbcType=BIGINT},
      </if>
      <if test="record.updatedAt != null">
        updated_at = #{record.updatedAt,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      </if>
      <if test="record.meta != null">
        meta = #{record.meta,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.userInfo != null">
        user_info = #{record.userInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update cvt_model_version_image
    set id = #{record.id,jdbcType=BIGINT},
      model_id = #{record.modelId,jdbcType=BIGINT},
      model_version_id = #{record.modelVersionId,jdbcType=BIGINT},
      post_id = #{record.postId,jdbcType=BIGINT},
      image_id = #{record.imageId,jdbcType=BIGINT},
      url = #{record.url,jdbcType=VARCHAR},
      nsfw = #{record.nsfw,jdbcType=INTEGER},
      width = #{record.width,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      mimeType = #{record.mimetype,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=BIGINT},
      updated_at = #{record.updatedAt,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER},
      meta = #{record.meta,jdbcType=LONGVARCHAR},
      user_info = #{record.userInfo,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cvt_model_version_image
    set id = #{record.id,jdbcType=BIGINT},
      model_id = #{record.modelId,jdbcType=BIGINT},
      model_version_id = #{record.modelVersionId,jdbcType=BIGINT},
      post_id = #{record.postId,jdbcType=BIGINT},
      image_id = #{record.imageId,jdbcType=BIGINT},
      url = #{record.url,jdbcType=VARCHAR},
      nsfw = #{record.nsfw,jdbcType=INTEGER},
      width = #{record.width,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      mimeType = #{record.mimetype,jdbcType=VARCHAR},
      created_at = #{record.createdAt,jdbcType=BIGINT},
      updated_at = #{record.updatedAt,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOWithBLOBs">
    update cvt_model_version_image
    <set>
      <if test="modelId != null">
        model_id = #{modelId,jdbcType=BIGINT},
      </if>
      <if test="modelVersionId != null">
        model_version_id = #{modelVersionId,jdbcType=BIGINT},
      </if>
      <if test="postId != null">
        post_id = #{postId,jdbcType=BIGINT},
      </if>
      <if test="imageId != null">
        image_id = #{imageId,jdbcType=BIGINT},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="nsfw != null">
        nsfw = #{nsfw,jdbcType=INTEGER},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="mimetype != null">
        mimeType = #{mimetype,jdbcType=VARCHAR},
      </if>
      <if test="createdAt != null">
        created_at = #{createdAt,jdbcType=BIGINT},
      </if>
      <if test="updatedAt != null">
        updated_at = #{updatedAt,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
      <if test="meta != null">
        meta = #{meta,jdbcType=LONGVARCHAR},
      </if>
      <if test="userInfo != null">
        user_info = #{userInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOWithBLOBs">
    update cvt_model_version_image
    set model_id = #{modelId,jdbcType=BIGINT},
      model_version_id = #{modelVersionId,jdbcType=BIGINT},
      post_id = #{postId,jdbcType=BIGINT},
      image_id = #{imageId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      nsfw = #{nsfw,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      mimeType = #{mimetype,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=INTEGER},
      meta = #{meta,jdbcType=LONGVARCHAR},
      user_info = #{userInfo,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePO">
    update cvt_model_version_image
    set model_id = #{modelId,jdbcType=BIGINT},
      model_version_id = #{modelVersionId,jdbcType=BIGINT},
      post_id = #{postId,jdbcType=BIGINT},
      image_id = #{imageId,jdbcType=BIGINT},
      url = #{url,jdbcType=VARCHAR},
      nsfw = #{nsfw,jdbcType=INTEGER},
      width = #{width,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      mimeType = #{mimetype,jdbcType=VARCHAR},
      created_at = #{createdAt,jdbcType=BIGINT},
      updated_at = #{updatedAt,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByExampleWithBLOBsWithRowbounds" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from cvt_model_version_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleWithRowbounds" parameterType="com.aigccafe.buterin.common.model.cvt.CvtModelVersionImagePOExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cvt_model_version_image
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>